@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_settings.scss';
@import 'base/_base.scss'; 
@import 'layout/_header.scss'; 
@import 'layout/_footer.scss'; 
@import 'layout/_components.scss';   

#logo{ padding-top:19px; }
 
@media (min-width:992px) and (max-width:1199px){ 
#main-menu.navbar-default .navbar-nav > li > a{ padding:0px 5px; font-size:13px;} 

}
@media (min-width:768px) and (max-width:991px){ 
.nav > li > a{ padding:5px 10px;}
 
}

@media (max-width:767px) { 
@import 'layout/_components-mobile.scss';
	  
	
} 
@media (max-width:320px){ 
 
}
